.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.w-60{
  width:60%;
  left: 20%;
  position: absolute!important;
  top: 50%;
}


.linkRef{
  position: absolute;
  width: 100%;
  height: 100%;
}

.schoolNameTitle{
  text-align: right;
  font-size:85%;
}

.schoolCard{
  position: relative;
  top: 35px;
  width: 85%;
  left: 7.5%;
}

.schoolLogo{
  background-position: center!important;
  background-size: 30% 100%!important;
  padding: 12%;
}

.currentTime{
  font-size: 85%;
}


.btnWrapper{
  text-align: center;
  position: relative;
  top: 8rem;
}

.studentCheckInBtn{

}

.teacherDp{
  float: left;
  background-size: 70% 100%!important;
  background-position: center!important;
  padding: 2rem;
}

.teacherWrapper{
  position: relative;
}

.teacherCard{
  position: relative;
  top: 1rem;
}

.teacherName{
  width: max-content!important;
  position: absolute!important;
  right: 50%;
  top: 1.25rem;
  font-size: 1rem!important;
}

.checkInWrapper{
  position: relative;
  float: right;
  bottom: 1rem;
  width: 40%;
}


.teacherCheckin{
  height: 2rem;
  width: 8rem;
  right: 0.2rem;
}

.ckinTxt{
  font-size: 1rem;
  position: relative;
  bottom: 1.25rem;
}